<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <application>

        <activity
            android:name="com.github.nabin0.audioplayer.view.extended.ExpandedControlsActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Audio" />
        </activity>

        <service
            android:name=".service.AudioPlayerService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="om.github.nabin0.audioplayer.provider.CastOptionsProvider" />

    </application>
</manifest>